{% extends "base.html" %}
{% block content %}
	<div class="breadcrumb">
		<a href="/index/">全部分类</a>
		<span>&gt;</span>
		<a href="/goods/?cag={{ goods_data.goods_cag.id }}&amp;page=1">{{ goods_data.goods_cag.cag_name }}</a>
		<span>&gt;</span>
		<a href="#">商品详情</a>
	</div>
{#商品详情#}
	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/goods/{{ goods_data.goods_img }}.jpg"></div>

		<div class="goods_detail_list fr">
			<h3>{{ goods_data.goods_name }}</h3>
			<br>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{ goods_data.goods_price }}</em></span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1" disabled="">
				</div> 
			</div>
			<div class="operate_btn">
				<a href="/cart/add_cart/?id={{ goods_data.id }}" class="add_cart" id="add_cart">加入购物车</a>
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dd>{{ goods_data.goods_desc }}</dd>
				</dl>
			</div>
	</div>
{% endblock %}