{% extends "base.html" %}
{% block content %}
{#    导航#}
    <div class="breadcrumb">
        <span>当前分类:</span>
        <a href="/index/">全部分类</a>
		<span>&gt;</span>
        <a href="/goods/?cag={{ current_cag.id }}&amp;page=1">{{ current_cag.cag_name }}</a>
    </div>
    {#当前页面的商品#}
    <div class="main_wrap clearfix">

        <div class="sort_bar"></div>

        <ul class="goods_type_list clearfix">

            {% for goods in page_data %}
                <li>
                    <a href="/detail/?id={{ goods.id }}"><img src="/static/goods/{{ goods.goods_img }}.jpg"></a>
                    <div class="operate">
                        <h4><a href="/detail/?id={{ goods.id }}">{{ goods.goods_name }}</a></h4>
                        <span class="prize">￥32</span>
                    </div>
                </li>
            {% endfor %}

        </ul>


        <div class="pagenation">
            {% if page_data.has_previous %}
                <a href="?cag={{ current_cag.id }}&amp;page={{ page_data.previous_page_number }}">上一页</a>
            {% endif %}

            {#                    页码的范围，从1开始，例如[1, 2, 3, 4]#}
            {% for index in paginator.page_range %}
                {% if index ==  page_data.number %}
                    {#                        高亮当前页码#}
                    <a href="?cag={{ current_cag.id }}&amp;page={{ index }}" class="active">{{ index }}</a>
                {% else %}
                    <a href="?cag={{ current_cag.id }}&amp;page={{ index }}">{{ index }}</a>
                {% endif %}
            {% endfor %}


            {% if page_data.has_next %}
                <a href="?cag={{ current_cag.id }}&amp;page={{ page_data.next_page_number }}">下一页&gt;</a>
            {% endif %}
        </div>
    </div>
{% endblock %}